*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #FFFDE7;
}
.logo img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.logo p{
  color: #1B1713;
  font-family: Irish Grover;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.logo{
  margin: 5px 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 5px;
}
.navbar{
  display: flex;
  position: absolute;
  width: 100%;
  padding: 0px 30px;
  justify-content: space-between;
  align-items: center;
  border: 3px solid #1B1713;
  background: #D1B18D;
  z-index: 1000px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
}

.search{
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border-radius: 30px;
  border: 2px solid #644C3C;
  background: #D1B18D;
  cursor: pointer;
}

.menuBar button{
  border: none;
  display: flex;
  height: 40px;
  padding: 23px 10px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 5px;
  background: #644C3C;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
}
.menuBar button:hover{
  background-color: #1B1713;
}
.menuBar button:hover p{
  
  color: #FDCF78;
}
.menuBar button p{
  color: #FFF;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.menuBar{
  position: absolute;
  top: 56px;
  display: flex;
  width: 200px;
  height: 579px;
  padding: 30px 5px 20px 5px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  border-right: 5px solid #1B1713;
  background: #D1B18D;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25) inset;
}